
<div class="jumbotron text-center" align = center>
<h1><b>Meet The Team</b></h1>
<div class="row">
<div class="col-lg-6">
<p><b>JC</b> - Project Manager(Teemo Worshipper)</p></br>

<p><b>Josh</b>- Product Owner</p></br>
<p><b>Kirill</b> - QA Lead(One Man DevOps)</p><br />
<p><b>Mark</b>- Documentation</p> <br />
</div
<div class="col-lg-6">
<p><b>Ryan</b>- Tech Lead(Overnight QA)</p> <br />
<p><b>Nnamdi</b>- Design Lead</p> <br />
<p><b>Jack</b>- Dev</p> <br />
<p><b>Wansh</b>- Dev</p> <br />
</div>
</div>

