<link href="../css/account.css" rel="stylesheet" type="text/css" media="all" />
<body>
<div class="jumbotron text-center">
	<div id="header">
		<div id="logo">
			<img src="../image/pic.jpg" alt="" />
			<h1><a href="#">Account Name</a></h1>
		</div>
		<div id="menu">
			<ul>
			    <li><a href="#" accesskey="3" title="">Account Basic</a></li>
			    <li><a href="#" accesskey="3" title="">Profile</a></li>
				<li><a href="#" accesskey="3" title="">Setting</a></li>
				<li><a href="#" accesskey="4" title="">Help Center</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				<li><a href="#" accesskey="6" title="">Log out</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		
		<div id="account-basic">
			<div class="title">
				<h2>Account Basics</h2>
			</div>
			<div class="email">
				<label>Email Address</label>
				<input type="text" value="aa@aa.com" disabled />
			</div>
			<div class="password">
				<label>Password</label>
				<span>Change your password...</span>
			</div>
		</div>
		
	
		
	</div>
</div>
</body>
</html>
