<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="jumbotron" ng-app="LaunchesCtrl" ng-controller="LaunchesController">
	<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
		<div layout="column" flex-xs flex-gt-xs="33" ng-repeat="launch in launches">
      		<md-card>
        		<md-card-title>
          			<md-card-title-text>
            			<span class="md-headline">{{launch.name}}</span>
          			</md-card-title-text>
        		</md-card-title>
				<img ng-src="{{launch.website}}" class="md-card-image" alt="Washed Out">
        		<md-card-actions layout="row" layout-align="start center">
          			<md-card-icon-actions>
          			</md-card-icon-actions>
        		</md-card-actions>
        		<md-card-content>
          			<p>
            		{{launch.description}}
          			</p>
        		</md-card-content>
      		</md-card>
    	</div>
    </md-content>
</div>
