<div class="jumbotron text-center">
	<h1>NUCLEAR LAUNCH DETECTED!</h1>
</div>

<div>
    <!--bootstrap icons not working for some reason.-->
	<button >+</button> 
</div>
<div id= "launchGrid">
	<figure>
		<img src = "http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
		<figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
		<input type="button" class="editLaunchBtn" value="Edit">
	</figure>
	<figure>
		<img src = "http://static.zerochan.net/Prinz.Eugen.(Kantai.Collection).full.1801186.jpg">
		<figcaption>Prinz Eugen from Kancolle</figcaption>
		<input type="button" class="editLaunchBtn" value="Edit">
	</figure>
	<figure>
		<img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg">
		<figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
		<input type="button" class="editLaunchBtn" value="Edit">
	</figure>
</div>