<div class="jumbotron text-center">
    <h1>Login Page</h1>

    <div>

        <form>
            <p>Username : <span><input ng-model="user.username" placeholder="Username" type="text"></span></p>
            <p>Password : <span><input ng-model="user.password" placeholder="Password" type="password"></span></p>
            <p><input type="submit" ng-click="controller.login(user)"/></p>
            <p><input type="checkbox" checked/> Remember me<br/>
                Forget <a href="#">Username</a> /
                <a href="#"> Password</a></p>
            <p>New User <a href="Registration.html">Register Here</a></p>
        </form>

    </div>
</div>