<div class="jumbotron text-center">
    <h1>Login Page</h1>

    <form name="form" ng-controller="LoginController" role="form">
        <div>
			<label for="Email">Email</label>
	        <input style="width:60%; margin-top:10px;" type="text" name="email" id="email"  ng-model="email" placeholder="email" required />
		</div>
		<div>
			<label for="password">Password</label>
    	    <input style="width:60%; margin-top:10px;" type="password" name="password" id="password"  ng-model="password" placeholder="password" required />
		</div>
        <button type="submit" ng-click="validateLogin(form.email,form.password)" class="btn btn-primary" value="Login" title="Login" ng-disabled="!form.$valid">
           	<span>Login</span>
       	</button>
			<p>New User <a href="/registration">Register Here</a></p>
    </form>
</div>