<div>
    <!-- HEADER/Navigation bar; code reference from w3schools.com -->
	<nav class="navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Launchit!</a>
		</div>
		<ul class="topnav" id="thetopnav">
			<li><input type="text" name="search" placeholder="Search.." id="search"></li>
			<li><a href="/notification">Notifications</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/account">Account</a></li>
			<li><a href="/launches">Launches</a></li>
			<li class="icon">
    			<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  			</li>
		</ul>
	</nav>
</div>
<div class="jumbotron text-center">
	<h1>My Launches</h1>
</div>

<div>
    <a href="" class="btn btn-default btn-circle btn-lg" class="glyphicon glyphicon-plus-sign" /a>
</div>
</html>