<div class="jumbotron text-center">
	<h1>Create That Launch Component!</h1>
    <md-content layout-padding>
	<form name="createLaunch">
		<md-input-container class="md-block">
        <div>
            <label for="name">Launch Name</label>
            <input type="text" name="name" id="name" value="" ng-model='launch.name' required>
        </div>
		<div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
		</md-input-container>
		
		<md-input-container class="md-block">
        <div>
            <label for="website">Content URL</label>
            <input type="url" name="website" id='website' value="" ng-model='launch.website' required>
        </div>
		<div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
		</md-input-container>
		
		<md-input-container class="md-block">
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id='description' value="" ng-model='launch.description' required>
        </div>
		<div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
		</md-input-container>
		
		<!--<md-input-container class="md-block">
        <div>
            <label for="tags">Tags</label>
            <input type="text" name="tags" value="Separated with ,">
        </div>
		</md-input-container>
		-->
        <div>
            <input type="button" ng-click='create(launch)' value='Create'/>
        </div>
    </form>
</div>