<style>
.upload-file{
    margin: auto;
}
</style>

<div class="jumbotron text-center">
	<h1>Create That Launch Component!</h1>
    <md-content layout-padding>
	<form name="createLaunch" enctype="multipart/form-data">
		<md-input-container class="md-block">
        <div>
            <label for="name">Launch Name</label>
            <input type="text" name="name" id="name" value="" ng-model='launch.name' required>
        </div>
		<div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
		</md-input-container>
		
		<md-input-container class="md-block">
        <div>
            <label for="website">Content URL</label>
            <input type="url" name="website" id='website' value="" ng-model='launch.website' required>
        </div>
		<div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
		</md-input-container>
        
        <!--type input doesn't play well with md-input-->
        <!--Removed file upload from frontend for now since backend isn't functional-->
        <input class="upload-file" type="file" accept='.png, .jpg, .jpeg' name="fileUpload" value='' ng-model='launch.file'>
		
		<md-input-container class="md-block">
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id='description' value="" ng-model='launch.description' required>
        </div>
		<div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
		</md-input-container>
		
		<md-input-container class="md-block">
        <div>
            <label for="tags">Tags Separated with comma(,)</label>
            <input type="text" name="tags" value="" ng-model='launch.tags' required>
        </div>
		</md-input-container>
		
        <div>
            <input type="button" ng-click='create(launch)' value='Create'/>
        </div>
    </form>
</div>