<script src="https://www.paypalobjects.com/js/external/api.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="css/login.css">

<style>
	.jumbotron{padding-top: 5%;}
	.img-responsive{display: inline-block;}
	.img-responsive img {
		height:230px;;
		width:230px;
	}

	.jumbotron .content{margin-top:-20px;}
	.jumbotron .nav-pills li a{color:#000;}
	.jumbotron .nav-pills li a:hover{cursor: pointer;color: #fff;background-color: #3c3c3c}
	.jumbotron md-content{background-color: #eee;}
</style>
<div class="jumbotron">
	<div class="row">
		<div class="col-md-3 img-responsive ">
			<img ng-src="{{imgUrl}}">
		</div>
		<div class="col-md-9">
			<div style="text-align: center; display: inline-block;width: 50%;font-size: 45px;;font-weight: bold;">{{userData.displayName}}</div>
			<div style="text-align: center; display: inline-block;width: 50%;font-size: 45px;;font-weight: bold;">{{userData.firstName+' '+userData.lastName}}</div>
			<div style="text-align: center; display: inline-block;width: 50%;font-size: 20px;">{{userData.userBios}}</div>
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-3">
			<div class="nav nav-pills nav-stacked">


				<li><a id="one" name="profile"  onclick="this.style.background='#333';this.style.color='white';
                 document.getElementById('two').style.background='none';document.getElementById('two').style.color='#000';
                 document.getElementById('three').style.background='none';document.getElementById('three').style.color='#000';
                 document.getElementById('four').style.background='none';document.getElementById('four').style.color='#000';
                 document.getElementById('five').style.background='none';document.getElementById('five').style.color='#000';
                 document.getElementById('six').style.background='none';document.getElementById('six').style.color='#000';
                 document.getElementById('seven').style.background='none';document.getElementById('seven').style.color='#000';
                 document.getElementById('night').style.background='none';document.getElementById('night').style.color='#000';"
					   class="" ng-if="isPrivate" ng-click="switchTab('profile')">Update Profile Info</a></li>
				<li><a id="two" name="updateEmail" onclick="this.style.background='#333';this.style.color='white';
                 document.getElementById('one').style.background='none';document.getElementById('one').style.color='#000';
                 document.getElementById('three').style.background='none';document.getElementById('three').style.color='#000';
                 document.getElementById('four').style.background='none';document.getElementById('four').style.color='#000';
                 document.getElementById('five').style.background='none';document.getElementById('five').style.color='#000';
                 document.getElementById('six').style.background='none';document.getElementById('six').style.color='#000';
                 document.getElementById('seven').style.background='none';document.getElementById('seven').style.color='#000';
                 document.getElementById('night').style.background='none';document.getElementById('night').style.color='#000';"
					   ng-if="isPrivate" class="active" ng-click="switchTab('updateEmail')">Update Email</a></li>
				<li><a id="three" name="changePassword" onclick="this.style.background='#333';this.style.color='white';
                 document.getElementById('one').style.background='none';document.getElementById('one').style.color='#000';
                 document.getElementById('two').style.background='none';document.getElementById('two').style.color='#000';
                 document.getElementById('four').style.background='none';document.getElementById('four').style.color='#000';
                 document.getElementById('five').style.background='none';document.getElementById('five').style.color='#000';
                 document.getElementById('six').style.background='none';document.getElementById('six').style.color='#000';
                 document.getElementById('seven').style.background='none';document.getElementById('seven').style.color='#000';
                 document.getElementById('night').style.background='none';document.getElementById('night').style.color='#000';"
					   ng-if="isPrivate" class="presentation" ng-click="switchTab('changePassword')">Change Password</a></li>
				<li><a id="four" name="linkPaypal"  class="" onclick="this.style.background='#333';this.style.color='white';
                 document.getElementById('one').style.background='none';document.getElementById('one').style.color='#000';
                 document.getElementById('two').style.background='none';document.getElementById('two').style.color='#000';
                 document.getElementById('three').style.background='none';document.getElementById('three').style.color='#000';
                 document.getElementById('five').style.background='none';document.getElementById('five').style.color='#000';
                 document.getElementById('six').style.background='none';document.getElementById('six').style.color='#000';
                 document.getElementById('seven').style.background='none';document.getElementById('seven').style.color='#000';
                 document.getElementById('night').style.background='none';document.getElementById('night').style.color='#000';"
					   ng-if="isPrivate" ng-click="switchTab('linkPaypal')">Link Paypal</a></li>
				<li><a id="five" name="viewFollowing"  class="" onclick="this.style.background='#333';this.style.color='white';
                 document.getElementById('one').style.background='none';document.getElementById('one').style.color='#000';
                 document.getElementById('two').style.background='none';document.getElementById('two').style.color='#000';
                 document.getElementById('three').style.background='none';document.getElementById('three').style.color='#000';
                 document.getElementById('four').style.background='none';document.getElementById('four').style.color='#000';
                 document.getElementById('six').style.background='none';document.getElementById('six').style.color='#000';
                 document.getElementById('seven').style.background='none';document.getElementById('seven').style.color='#000';
                 document.getElementById('night').style.background='none';document.getElementById('night').style.color='#000';"
					   ng-if="isPrivate" ng-click="switchTab('viewFollowing')">View Victims</a></li>
				<li><a id="six" name="Follow"  class="" ng-if="!isPrivate" ng-hide="isFollowing" ng-click = "toggleFollow()">Start Stalking</a></li>
				<li><a id="seven" name="UnFollow"  class="" ng-if="!isPrivate" ng-show="isFollowing" ng-click = "toggleFollow()">Stop Stalking</a></li>
				<li><a id="night" name="viewBoard"  class="" ng-if="!isPrivate" ng-click="goToUserBoard()">View LaunchBoard</a></li>
				<!--<li><a name="disableAccount"   ng-click="switchTab('disableAccount')" >Disable Account</a></li>
				<li><a name="deleteAccount"   ng-click="switchTab('deleteAccount')">Delete Account</a></li>-->
			</div>
		</div>

		<div class="col-md-9" ng-switch="showTabIndex">
			<!--Update Email-->
			<div class="content" ng-switch-when="updateEmail">
				<h3>Update Email</h3>

					<md-content layout-padding>
						<form name="newEmailForm" role="form">
							<md-input-container class="md-block">
								<div ng-class="{ 'has-error': newEmailform.email.$pristine || (newEmailform.email.$dirty && newEmailform.email.$error.required) || newEmailform.email.$invalid}">
									<label for="Email">New Email</label>
									<input style="width:60%; margin-top:10px;" type="text" name="email" id="email"  ng-model="email" placeholder="Email"
										   pattern="[a-zA-Z0-9._+-]{1,63}@([a-zA-Z0-9_]{1,63}){1,5}\.[a-zA-Z/-_]{2,10}" ng-change="validateEmail(newEmailForm.email)" required ng-model-options="{updateOn: 'default', debounce: 500 }"/>
									<img ng-src="{{( newEmailForm.email.$error.pattern || newEmailForm.email.$error.required || emailFailed) ? './image/invalidField.png' : './image/validField.png'}}" width=20 height=20>
								</div>
							</md-input-container>

							</br></br>

							<md-input-container class="md-block">
								<div>
									<label for="password">Password</label>
									<input style="width:60%; margin-top:10px;" type="password" name="password" id="password"  ng-model="password" placeholder="Password" required
										   ng-change="validatePassword(newEmailForm.password)" ng-model-options="{updateOn: 'default', debounce: 500 }"/>
									<img ng-src="{{(newEmailForm.password.$error.required || passwordFailed) ? './image/invalidField.png' : './image/validField.png'}}" width=20 height=20>
								</div>
							</md-input-container>
						</form>
					</md-content>
					<button type="button" class="btn btn-primary"  ng-disabled="newEmailForm.$invalid || checkNewEmailForm()" ng-click="update(newEmailForm)">SAVE CHANGES</button>
			</div>


			<!--Change Password-->
			<div class="content" ng-switch-when="changePassword">
				<h3>Change Password</h3>
				<md-content layout-padding>
					<form name="newPasswordForm" role="form">
						<md-input-container class="md-block">
							<div>
								<label for="password">Old Password</label>
								<input style="width:60%; margin-top:10px;" type="password" name="oldPass" id="oldPass"  ng-model="oldPass" placeholder="Old Password" required
									   ng-change="validatePassword(newPasswordForm.oldPass)" ng-model-options="{updateOn: 'default', debounce: 500 }"/>
								<img ng-src="{{(newPasswordForm.oldPass.$error.required || passwordFailed) ? './image/invalidField.png' : './image/validField.png'}}" width=20 height=20>
							</div>
						</md-input-container>

						</br></br>

						<md-input-container class="md-block">
							<div ng-class="{ 'has-error': newPasswordForm.password.$pristine || (newPasswordForm.password.$dirty && newPasswordForm.password.$error.required) || form.password.$invalid}">
								<label for="password">New Password</label>
								<input style="width:60%; margin-top:10px;" type="password" name="newPassword" id="newPassword"  ng-model="newPassword" placeholder="New Password"
									   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\[$&+,:;=?@#|'<>.\-^*()%!\]]).{6,18}" required/>
								<img ng-src="{{( newPasswordForm.newPassword.$error.pattern || newPasswordForm.newPassword.$error.required) ? './image/invalidField.png' : './image/validField.png'}}" width=20 height=20>

							</div>
						</md-input-container>

						</br></br>

						<md-input-container class="md-block">
							<div ng-class="{ 'has-error': newPasswordForm.passwordConf.$pristine || (newPasswordForm.passwordConf.$dirty && newPasswordForm.passwordConf.$error.required) || newPasswordForm.passwordConf.$invalid}">
								<label for="passwordConf">New Password Confirmation</label>
								<input style="width:60%; margin-top:10px;" type="password" name="passwordConf" id="passwordConf"  ng-model="passwordConf" placeholder="New Password Confirmation"
									   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\[$&+,:;=?@#|'<>.\-^*()%!\]]).{6,18}" required/>
								<img ng-src="{{(newPasswordForm.passwordConf.$error.pattern || newPasswordForm.passwordConf.$error.required || validatePasswordConfirmation(newPasswordForm.newPassword, newPasswordForm.passwordConf))? './image/invalidField.png' : './image/validField.png'}}" width=20 height=20>
							</div>
						</md-input-container>
						<div>
							<li>minimum 8 characters long</li>
							<li>At least one lower case letter</li>
							<li>At least one upper case letter</li>
							<li>At least one numeric character</li>
							<li>At least one special character</li>
							<li>Password and Password Confirmation must match</li>
						</div>
						<button type="button" class="btn btn-primary"  ng-disabled="newPasswordForm.$invalid || validatePasswordConfirmation(newPasswordForm.newPassword, newPasswordForm.passwordConf) || passwordFailed" ng-click="update(newPasswordForm)">Save Changes</button>
					</form>
				</md-content>
			</div>

			<!--Profile-->
			<div class="content" ng-switch-when="profile">
				<h3>Update Profile Info</h3>
				<md-content layout-padding>
					<form name="profileForm" role="form" >
						<md-input-container class="md-block">
							<div>
								<label for="displayName">Display Name</label>
								<input style="width:60%; margin-top:10px;" type="text" name="dispolayName" id="displayName"  ng-model="user.displayName" placeholder="Display Name"
									   pattern="[a-zA-Z]{1,20}"/>
							</div>
						</md-input-container>
						</br></br>
						<md-input-container class="md-block">
							<div ng-class="{ 'has-error': profileForm.firstName.$pristine || (profileForm.firstName.$dirty && profileForm.firstName.$error.required) || profileForm.firstName.$invalid}">
								<label for="firstName">First Name</label>
								<input style="width:60%; margin-top:10px;" type="text" name="firstName" id="firstName"  ng-model="user.firstName" placeholder="First Name" required
									   pattern="[a-zA-Z]{1,20}"/>
							</div>
						</md-input-container>
						</br></br>
						<md-input-container class="md-block">
							<div ng-class="{ 'has-error': profileForm.lastName.$pristine || (profileForm.lastName.$dirty && profileForm.lastName.$error.required) || profileForm.lastName.$invalid}">
								<label for="lastName">Last Name</label>
								<input style="width:60%; margin-top:10px;" type="text" name="lastName" id="lastName"  ng-model="user.lastName" placeholder="Last Name"
									   pattern="[a-zA-Z]{1,20}"/>
							</div>
						</md-input-container>
						</br></br>
						<md-input-container class="md-block">
							<div ng-class="{ 'has-error': profileForm.userBios.$pristine || (profileForm.userBios.$dirty && profileForm.userBios.$error.required) || profileForm.userBios.$invalid}">
								<label for="bios">Biography</label>
								<textarea ng-model="user.userBios" md-maxlenght="500" rows="5" md-select-on-focus>
								</textarea> 
							</div>
						</md-input-container>
					</form>
					<form method="post" enctype="multipart/form-data" action="{{'/api/uploadProfileImage/' + userId }}" name="myForm">
						<input type="file" name="file">
						<button type="submit" name="upload">Upload</button>
					</form>
					
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="update()">SAVE CHANGES</button>
				</md-content>
			</div>

			<!--disable account-->
			<div class="content" ng-switch-when="disableAccount">
				<h3>DISABLE ACCOUNT</h3>
				<md-content layout-padding>
					<p>Some instruction, warning and notifications</p>
					<form name="disbaleAccountform" role="form">
						<div class="form-group" ng-show="disableAccountRequested">
							<label for="password">Old Password</label>
							<input style="width:60%; margin-top:10px;" type="password" name="oldpass" id="password"  ng-model="password" placeholder="Password" required/>
						</div>

						<div class="form-group" ng-class="{ 'has-error': form.password.$pristine || (form.password.$dirty && form.password.$error.required) || form.password.$invalid}">
							<label>enter "YES" if you really wish to disable account :( </label>
							<input style="width:60%; margin-top:10px;" type="text" name="disableConf" id="disableConf"  ng-model="disableAccount" placeholder="enter YES to confirm disableing account" required/>
						</div>


					</form>

					<button ng-click="disableUserAccount(user)" title="Missing or Invalid Required Field(s) Value."
							ng-disabled="form.$invalid" class="btn btn-primary">
						<span>SAVE CHANGES</span>
					</button>
				</md-content>
			</div>

			<!--delete account-->
			<div class="content" ng-switch-when="deleteAccount">
				<h3>DELETE ACCOUNT</h3>
				<md-content layout-padding>
					<form name="deleteAccountForm" role="form">
						<p>Account cannot be deleted at this time....</p>

					</form>

				</md-content>
			</div>

			<!--following list-->
			<div class="content" ng-switch-when="viewFollowing">
				<h3>Secretly Stalking....</h3>
				<md-content layout-padding>
						<div ng-repeat="user in followerInfo" ng-click="goToProfile(user._id)"> 
						<div class="col-md-3 img-responsive">
						<img ng-src="{{user.imgUrl}}"style="height: 150px;width: 150px;">
						</div>
						<div class="col-md-9">
							<div style="font-size: 20px;;font-weight: bold;">{{user.displayName}}</div>
							<div style="font-size: 20px;">{{user.userBios}}</div>
						</div>
				</md-content>
			</div>

			<div class="content" ng-switch-when="linkPaypal"></div>

			<div class="content" ng-switch-when="default">
			</div>
		</div>
	</div>

</div>