<style>
	figure {
		float: left;
	}
	img {
		max-width: 512px;
	}
	input {
		border-radius: 32px;
	}

	.hidey {
		position: relative;
	}

	.hidden {
		position: absolute;
		bottom: 8px;
		display: block;

		width: 100%;

		opacity: 0;
		transition: opacity .4s;
	}

	.hidey:hover .hidden {
		opacity: 1;
		transition: opacity .4s;
	}

	.image-center {
		position: absolute;
		left: 30%;
		right: 30%;
		text-align: center;
	}
</style>

<h1>CHECK OUT ALL THE PRETTY PICTURES</h1>

<h3 ng-if="$ctrl.isPrivate">This is the private board</h3>

<!-- A pretty picture thingy with magical buttons -->
<figure ng-repeat="launch in $ctrl.launches">
	<div class="hidey">
		<img class="hoverable" ng-src="{{launch.image}}" />

		<div class="hidden">
			<input type="button" value="+" title="I LIEK DIS" ng-click="launch.yay()" style="float: right"></input>
			<span class="image-center">{{launch.yays}}</span>
			<input type="button" value="-" title="I H8 DIS" ng-click="launch.nay()" style="float: left"></input>
		</div>
	</div>
	<figcaption>{{launch.description}}</figcaption>
</figure>
