<style>
	figure {
		float: left;
	}
	img {
		max-width: 512px;
	}
	input {
		border-radius: 32px;
	}

	.hidey {
		position: relative;
	}

	.hidden {
		position: absolute;
		bottom: 8px;
		display: block;

		width: 100%;

		opacity: 0;
		transition: opacity .4s;
	}

	.hidey:hover .hidden {
		opacity: 1;
		transition: opacity .4s;
	}

	.left {
		float: left;
	}
	.right {
		float: right;
	}
	.center {
		position: absolute;
		left: 30%;
		right: 30%;
		text-align: center;
	}
</style>

<h1>My Launches</h1>

<input ng-if="$ctrl.isPrivate" type="button" value="+" title="Launch a Project!" onclick="window.location.href='/createlaunch'"/>

<!-- A pretty picture thingy with magical buttons -->
<figure ng-repeat="launch in $ctrl.launches">
	<div class="hidey">
		<img ng-src="{{launch.image}}" />

		<div class="hidden">
			<input ng-if="$ctrl.isPrivate" class="left" type="button" value="Edit" title="Edit Launch" ng-click="$ctrl.edit(launch)"/>
			<input ng-if="!$ctrl.isPrivate" class="left" type="button" value="-" title="I H8 DIS" ng-click="launch.nay()"/>

			<h3 class="center">{{launch.name}}</h3>
			<span class="center">{{launch.yays}}</span>

			<input ng-if="$ctrl.isPrivate" class="right" type="button" value="Delete" title="Delete Launch" ng-click="$ctrl.delete(launch)"/>
			<input ng-if="!$ctrl.isPrivate" class="right"type="button" value="+" title="I LIEK DIS" ng-click="launch.yay()"/>
		</div>
	</div>
	<figcaption>{{launch.description}}</figcaption>
</figure>
